* {
	font-family: Arial, sans-serif;
	color: #222;
}
body {
    background-color: #f1f1f1;
    margin: 30px;
}

header {
	display: none;
}

.header {
	width: 350px;
}

figure {
	margin: 0;
}

figcaption {
	display: none;
}

a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}