* {
	font-family: Arial, sans-serif;
	color: #222;
}
body {
    background-color: #f1f1f1;
    margin: 40px;
}

header {
	display: none;
}

figure {
	margin: 0;
}

figure img {
	width: 450px;
}

#logo img {
	width: 300px;
}

figcaption {
	display: none;
}

a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}